button {
    width: 18%;
    background-color: lightcoral;
}
body {
    background-color: turquoise;
}
#carsearch {
    position: absolute;
    left: 35%;
    height: 10%;
    font-family: 'Times New Roman', Times, serif
}
#buttons-view {
    position: absolute;
    left: 36%;
    width: 30%;
    top: 20%;

}
#carFormTitle {
    top: 10%;
    position:absolute;
    left: 39.1%;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif

}
#add-car {
    position: absolute;
    left: 40%;
    top: 15%;
    background-color:lightcoral;


}
#car-input {
    position: absolute;
    left: 48%;
    top: 15%;
}
#gifContainer {
    position: absolute;
    top: 30%;
    left: 38%;
}